/* src/components/blocks/Spinner.css */
.spinner {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  /* Center horizontally using margin auto - works in both normal flow and flex containers */
  margin: 0 auto;
}
.spinner div {
  display: inline-block;
  position: absolute;
  inset-inline-start: 8px;
  width: 16px;
  animation: spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  /* We added color appropriate for a white background. This might be
     a parameter. */
  background: lightgrey;
}
.spinner div:nth-child(1) {
  inset-inline-start: 8px;
  animation-delay: -0.24s;
}
.spinner div:nth-child(2) {
  inset-inline-start: 32px;
  animation-delay: -0.12s;
}
.spinner div:nth-child(3) {
  inset-inline-start: 56px;
  animation-delay: 0;
}
@keyframes spinner {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
